.activity-bar-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.activity-bar {
  --activity-bar-width: 52px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: var(--activity-bar-width);
  height: 100%;
}

.activity-bar-sidebar {
  flex: 1;
	background-color: var(--background-secondary);
}