.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	padding: 16px;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--modal-backdrop);
	transition: opacity 0.2s;
}

.modal-window {
	background-color: var(--background);
	border-radius: 8px;
	/* border: 1px solid var(--text-primary); */
	max-width: 448px;
	width: 100%;
	max-height: 90vh;
	overflow-y: auto;
	position: relative;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid var(--text-primary);
}

.modal-title {
	font-size: 18px;
	font-weight: 600;
	color: var(--text-primary);
	margin: 0;
}

.modal-close-button {
	padding: 4px;
	background-color: transparent;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.modal-close-button:hover {
	background-color: var(--background-hover);
}

.modal-body {
	padding: 16px;
}
