.sidebar {
	width: 250px;
	height: 100vh;
	color: var(--text-primary);
	border-right: 1px solid white;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.title {
	margin-bottom: 5px;
	text-align: left;
}