.sidebar-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.sidebar-container.resizing {
  user-select: none;
}

.sidebar {
	height: 100vh;
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.title {
	margin-bottom: 5px;
	text-align: left;
}

.resizer {
	display: flex;
	width: 3px;
	border: 1px solid var(--background-secondary);
	height: 100vh;
	background-color: var(--border);
	cursor: ew-resize;
}

.resizer:active {
  user-select: none;
}